<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('flamingo.jpg')>
  <div class= "container" >
    <h1><strong> CASTLE AIRBNB !  </strong> </h1>
     <p> <strong>Stay in your dream locations- you're worth it!</strong></p>
  </div>
</div>



<%= link_to 'All flats', flats_path, class: "btn btn-ghost"  %>
