$t-red: #8B2F97;
$t-grey: #ecedef;
$t-black: #343434;

.t-cardWrap {
  width: 30.5em;
  margin: 3em auto;
  color: #fff;
  font-family: Cinzel Decorative;
}

.t-card {
  background: linear-gradient(to bottom, $t-red 0%, $t-red 26%, $t-grey 26%, $t-grey 100%);
  height: 13em;
  float: left;
  position: relative;
  padding: 1em;
  margin-top: 100px;
  h1 {
    font-size: 1.1em;
    margin-top: 0;
    font-family: Cinzel Decorative;
    span {
      font-weight: normal;
    }
  }
}

.t-cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 22em;
}

.t-cardRight {
  width: 8.5em;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
  }
  &:before {
    top: -.4em;
  }
  &:after {
  bottom: -.4em;
  }
}

.t-title, .t-name, .t-seat, .t-time {
  text-transform: uppercase;
  font-weight: normal;
  h2 {
    font-size: .9em;
    color: #525252;
    margin: 0;
   }
  span {
    font-size: .7em;
    color: #a2aeae;
  }
}

.t-title {
  margin: 2em 0 0 0;
}

.t-name, .t-seat {
  margin: .7em 0 0 0;
}

.t-time {
  margin: .7em 0 0 1em;
}

.t-seat, .t-time {
  float: left;
}

.t-number {
  text-align: center;
  text-transform: uppercase;
  h3 {
    color: $red;
    margin: .9em 0 0 0;
    font-size: 2.5em;
    font-family: Cinzel Decorative;

  }
  span {
    display: block;
    color: #a2aeae;
  }
}

.t-barcode {
  height: 2em;
  width: 0;
  margin: 1.2em 0 0 .8em;
  box-shadow: 1px 0 0 1px $t-black,
  5px 0 0 1px $t-black,
  10px 0 0 1px $t-black,
  11px 0 0 1px $t-black,
  15px 0 0 1px $t-black,
  18px 0 0 1px $t-black,
  22px 0 0 1px $t-black,
  23px 0 0 1px $t-black,
  26px 0 0 1px $t-black,
  30px 0 0 1px $t-black,
  35px 0 0 1px $t-black,
  37px 0 0 1px $t-black,
  41px 0 0 1px $t-black,
  44px 0 0 1px $t-black,
  47px 0 0 1px $t-black,
  51px 0 0 1px $t-black,
  56px 0 0 1px $t-black,
  59px 0 0 1px $t-black,
  64px 0 0 1px $t-black,
  68px 0 0 1px $t-black,
  72px 0 0 1px $t-black,
  74px 0 0 1px $t-black,
  77px 0 0 1px $t-black,
  81px 0 0 1px $t-black;
}
